@font-face {
    font-family: exo;
    src: url(sansation_light.woff);
  }

html{
    scroll-behavior: smooth;
}

body{
   
    margin: 0;
   
} 




.header{

    background-color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    -webkit-box-shadow: 0 3px 15px -6px black;
       -moz-box-shadow: 0 3px 15px -6px black;
            box-shadow: 0 3px 15px -6px black;
    z-index: 2;
    

}

.left_head{
   
}

.logo{
    width: 50%;
    padding-top: 10px;
    padding-left: 30px;
}

.right_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    padding-top: 5px;
}

a.direction:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.direction:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}




.route{
    color: #057474;
    font-weight: 600;
    margin-right: 50px;
    font-size: 20px;
    font-family: 'Exo';
}

.route:hover{
    color: #16A67E;
    cursor: pointer;
}

.home_container{
    scroll-margin-top: 140px;
    display: flex;
    margin-top: 120px;
    height: 100%;
    padding: 20px;

}

.left_home{

    margin-right: 50px;

}

.heading_home_left{
    font-family: 'Exo';
    text-align: center;
    font-size: 90px;
    margin-top: 10px;
    color: #055050;
    font-weight: bold;
}

.subheading_home_left{

    font-size: 22px;
    color: #055050;
    text-align: center;
    font-weight: 600;
    font-family: 'Exo';
    margin-top: -50px;

}



.another_subheading_home_left{

    font-family: 'Exo';
    font-size: 21px;
    font-weight: 500;
    color: #055050;
    text-align: center;
    margin: 70px;
    margin-top: 10px;

}

.footer_heading_home_left{
    font-family: 'Exo';
    font-size: 18px;
    font-weight: 700;
    color: #055050;
    text-align: center;
    margin-top: -30px;
}

.home_left_footer{
    border: #055050 1px solid;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
   
}

.home_left_footer_img:last-child{
    padding-right: 40px;
}

.right_home{
    border-radius: 20px;
    border: #055050 solid 1px;
    height: 450px;
    margin-top: 25px;
    
    
}

.right_img{
    width: 100%;
    padding-top: 15px;
    display: block;
    
    margin: auto;
    margin-top: 50px;
   
}


.what_container{
    scroll-margin-top: 100px;
    height: 70vh;
    background-color: #16A67E;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    padding: 40px;
    padding-bottom: 0;
    padding-top: 70px;
    position: relative;
    z-index: 1;
}

.left_what{
   
}

.heading_what_left{

    color: #fff;
    font-family: 'Exo';
    font-size: 60px;
   
    font-weight: 600;

}

.para_what_left_heading{
    padding-left: 100px;
    font-family: "Exo";
    font-weight: 500;
    color: #fff;
    font-size: 22px;
    padding-left: 190px;
    margin-top: -10px;
    margin-bottom: -15px;
}

.para_what_left{
    font-family: "Exo";
    font-weight: 500;
    color: #fff;
    font-size: 22px;
    padding-left: 40px;
    margin-right: 0px;
    width: 600px;


}

.right_what{
   


}

.what_right_img{

    position: absolute;
    right: 0;
    bottom: 0;
    width: 506px;
        
}


.company_container{
    scroll-margin-top: 100px;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;

}

.heading_company{
    
    color: #fff;
    font-family: 'Exo';
    font-size: 60px;
    margin-top: 0px;
    color: #055050;
    font-weight: 600;
    margin-bottom: 0px;
}

.logo_company_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 50px;
    
}

.logo_container{
    background-color: #055050;
    width: 250px;
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 20px;
}

.company_logo{

    width: 200px;
    display: block;
    margin: auto;
    padding-top: 20px;

}

.para_about_left{
    font-family: "Exo";
    font-weight: 500;
    color: #fff;
    font-size: 22px;
    padding-left: 10px;
    
}

img.about_img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 506px;
}




.contact_container{
    scroll-margin-top: 100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    padding-top: 10px;

}

.left_contact{
    
}

.left_contact_heading{

    color:#055050;
    font-size: 55px;
    font-family: "Expo";
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;

}

.left_contact_container{
    background-color: #BBFBE9;
    border-radius: 8px;
    padding-bottom: 10px;
    padding: 10px;
    margin-top: -50px;
}

.right_contact{

    margin-top: 70px;
    margin-left: 60px;
}

.left_contact_container_heading{
    text-align: center;
}


#form{
    margin: 0 auto;
}    


.frame{
    width: 100%;
    height: 215px;
    border-radius: 20px;
}

.contact_detail_container{
    display: flex;

}

.detail_img{
    margin-right: 30px;
}

.detail_para{
    font-family: "Exo";
    font-weight: 700;
    font-size: 15px;
    color: #16A67E;
}


label{
    font-size: 12px;
    font-family: 'Exo';
    font-weight: 600;
    color: #055050;
    margin-left: 30px;
    padding-top: 40px;
}


.input1{
    border: none;
    margin-left: 30px;
    margin-right: 30px;
    width: 550px;
    height: 25px;
    margin-bottom: 10px;
    
}


.query{
    height: 80px;
}



.left_contact_container_heading{
    font-family: 'Exo';
    padding-left: 30px;
    color:#055050;
    padding-top: 20px;
}

.submit{

    border: none;
    background-color: #055050;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    
}

.footer{
    background-color: #055050;
    display: flex;
    justify-content: space-between;
    
    
}

.footer_note{

    color: #fff;
    font-size: 15px;
    font-family: 'Exo';
    padding-left: 20px;

}


.footer_logo{

    padding-right: 20px;
    margin-left: ;

}

.media_heading{

    font-family: 'Exo';
    color: #16A67E;
    font-weight: 600;

}


.media_link{
    margin-left: 20px;
    
}


.drawer{
    display: none;
}









@media screen and (max-width: 992px){

    body{
        margin: 0;
        
    } 

    .header{
        height: 70px;
        position: fixed;
        top: 0;
        width: 100%;
        margin-left: 0px;
        -webkit-backface-visibility: hidden;
    }

    .logo{
        width: 40px;
        padding-left: 10px;
        padding-top: 15px;
    }

    

    html{
        scroll-behavior: smooth;
    }
    
    .right_head{
        display: flex;
        
        justify-content: space-around;
        padding: 0px;
        padding-top: 10px;
    }
    

    .route{
        color: #057474;
        font-weight: 600;
        margin-right: 20px;
        font-size: 13px;
        font-family: 'Exo';
    }
    
    .drawer{
        display: none;
    }
    
    
    
    .home_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 100px;
        margin-bottom: 20px;
        height: 100%;
        padding: 10px;
    
    }
    
    .left_home{
    
        margin: 0;
    
    }


   

    
    .heading_home_left{
        font-family: 'Exo';
        text-align: center;
        font-size: 50px;
        margin-top: 10px;
        color: #055050;
        font-weight: bold;
    }
    
    .subheading_home_left{
    
        font-size: 20px;
        color: #055050;
        text-align: center;
        font-family: 'Exo';
        margin-top: -30px;
    
    }
    
    
    
    .another_subheading_home_left{
        margin: -10px;
        font-family: 'Exo';
        font-size: 15px;
        font-weight: 600;
        color: #055050;
        text-align: center;
        margin-top: 0px;
    
    }
    
    .footer_heading_home_left{
        font-family: 'Exo';
        font-size: 11px;
        font-weight: 700;
        color: #055050;
        text-align: center;
        margin-top: 30px;
    }
    
    .home_left_footer{
        border: #055050 1px solid;
        padding: 10px;

        border-radius: 10px;
        display: flex;
        justify-content: space-around;
       
    }

    .home_left_footer_img{
        width: 20%;
    }
    
    .home_left_footer_img:last-child{
        padding-right: 0;
    }
    
    .right_home{
        border-radius: 20px;
        border: #055050 solid 1px;
        height: 300px;
        margin-top: 25px;
        margin-bottom: 40px;
        
    }
    
    .right_img{
        width: 310px;
        padding-top: 15px;
    }
    
    
     
    .what_container{
        scroll-margin-top: 100px;
        width: 100%;
        height: 100%;
        background-color: #16A67E;
        margin: 0;
        margin-top: 0;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        padding: 0px;
        padding-top: 0px;
        
    }
    
    .left_what{
        margin-right: 0px;
        padding: 20px;
       
    }
    
    .heading_what_left{
    
        color: #fff;
        font-family: 'Exo';
        font-size: 40px;
        font-weight: 600;
    
    }
    
    .para_what_left_heading{
        padding-left: 100px;
        font-family: "Exo";
        font-weight: 500;
        color: #fff;
        font-size: 15px;
        padding-left: 0px;
        margin-top: -10px;
        margin-bottom: -15px;
       
    }
    
    .para_what_left{
        font-family: "Exo";
        font-weight: 500;
        color: #fff;
        font-size: 15px;
        padding-left: 0px;
        margin-right: 0px;
        width: 100%;
    
    }
    
    .right_what{
        margin-right: 0px;
        
    }
    
    .what_right_img{
        margin-bottom: 0px;
        width: 100%;
        margin-top: 0px;
        position:relative;
    }
    
    
    .company_container{
        
        scroll-margin-top: 100px;
        height: 100%;
        margin: 0px;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 30px;
        display: flex;
        
    
    }
    
    .heading_company{
        
        color: #fff;
        font-family: 'Exo';
        font-size: 30px;
        padding-top: 20px;
        color: #055050;
        font-weight: 600;
        margin-bottom: 0px;
    }
    
    .logo_company_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 0px;
        padding-right: 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .logo_container{
        background-color: #055050;
        width: 250px;
        height: 150px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
        border-radius: 20px;
    }
    
    .company_logo{
    
        width: 200px;
        display: block;
        margin: auto;
        padding-top: 20px;
    
    }
    
    .para_about_left{
        font-family: "Exo";
        font-weight: 500;
        color: #fff;
        font-size: 22px;
        padding-left: 10px;
        
    }
    
    img.about_img{
        width: 250px;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    
    
    
    
    
    .contact_container{
        padding: 10px;
        scroll-margin-top: 100px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 10px;
    
    }
    
    .left_contact_heading{
        
        color:#055050;
        font-size: 40px;
        font-family: "Expo";
        text-align: center;
        padding-bottom: 20px;
    
    }
    
    .left_contact_container{
        background-color: #BBFBE9;
        padding-bottom: 15px;
        border-radius: 8px;
    }
    

   
    
    label{
        font-size: 12px;
        font-family: 'Exo';
        font-weight: 600;
        color: #055050;
        margin-left: 30px;
        padding-top: 40px;
    }
    
    
    .input1{
        border: none;
        margin-left: 30px;
        margin-right: 30px;
        width: 80%;
        height: 25px;
        margin-bottom: 10px;
    }
    
    
    .query{
        height: 120px;
        padding: 0;
    }
    
    
    .left_contact_container_heading{
        font-family: 'Exo';
        padding-left: 30px;
        color:#055050;
        padding-top: 20px;
    }
    
    .submit{
    
        border: none;
        background-color: #055050;
        color: #fff;
        font-size: 20px;
        padding: 10px;
        padding-left: 60px;
        padding-right: 60px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        
    }

    .right_contact{
    
        margin-top: 50px;
        margin-left: 0px;
    }
    
    
    .frame{
        width: 100%;
        height: 200px;
        border-radius: 20px;
    }
    
    .contact_detail_container{
        display: flex;
        margin-top: 30px;
    }
    
    .detail_img{
        margin-right: 10px;
    }
    
    .detail_para{
        font-family: "Exo";
        font-weight: 700;
        font-size: 12px;
        color: #16A67E;
    }
    
    .footer{
        background-color: #055050;
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-top: 30px;
        
    }
    
    .footer_note{
    
        color: #fff;
        font-size: 10px;
        font-family: 'Exo';
        padding-left: 50px;
    
    }
    
    
    .footer_logo{
        width: 50px;
        padding-right: 20px;
        margin-left: ;
    
    }
    
    .media_heading{
    
        font-family: 'Exo';
        color: #16A67E;
        font-weight: 600;
    
    }
    
    
    .media_link{
        margin-left: 20px;
    }
    
}


@media screen and (max-width: 500px) {


    .drawer{
        width: 10%;
        display: block;
        padding-right: 10px;
    }


    .right_head{
        position: absolute;
        display: none;
    }
    
    .active{
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        background-color: #16A67E;
        width: 100%;
        height: 250px;
        
    }
    
    
    .route{
        text-align: center;
        color: #fff;
        width: 100px;
        border-radius: 20px;
        margin-left: 37%;
    }

    .route:hover{
        color: #16A67E;
        cursor: pointer;
        background-color: #fff;
        padding: 5px;
        margin-left: 36%;
    }

}



